*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost';
    display: flex;
    background-color: #eeeeee2f;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.clear-btn{
    border-style: none;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.sidebar{
    width: 15vw;
    background-color: #df9d52;
    height: 100vh;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.logo{
    width: 60px;
    height: 60px;
    background-color: rgb(240, 205, 92);
    border-radius: 50px;
    align-self: center;
    margin: 20px 0;
    cursor: pointer;
}

.navbar{
    margin-top: 20px;
}

.navbar li {
    margin: 15px 0;
}

.navbar li a{
    font-size: 17px;
    transition: ease-in 0.2s;
}

.navbar li a:hover{
    color: rgb(255, 232, 205);
}

.header{
    padding: 30px 30px;
    background-color: rgb(248, 248, 248);
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 1px 15px grey;
}

#search{
    height: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    border: none;
}

.content{
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin-left: 15vw;
}

.table-content{
    margin: 50px 50px;
}

.table-content h2{
    font-size: 30px;
    font-weight: 500;
}

#addbtn{
    margin-left: 60vw;
    font-size: 16px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.table{
    border-collapse: collapse;
    padding: 20px 10px;
    border-spacing: 20px;
    width: 75vw;
    border: 1px solid black;
}

th, td{
    border: none black;
    text-align: center;
    padding: 10px 10px;
}

th{
    border-bottom: 1px solid black;
}

#addbtn, button, input, option{
    padding: 5px 5px;
}

select, option{
    padding: 5px 5px;
}

.pending {
    background-color: #f0ad4e;
}

.completed{
    background-color: #5cb85c;
}

.cancelled{
    background-color: #d9534f;
}